.Home {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 180px 2px 3fr;
    /* grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "1 2 3"
        "4 5 6"
        "7 8 9"; */
    text-align: center;
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
}

.flex-ctr-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portal-page-hdr {
    display: flex;
    /* padding-bottom: 10px; */
    /* margin-bottom: 50px; */
    /* font-size: 20px; */
}

.portal-page-user-title {
    display: flex;
    margin-top: -10px;
    /* padding-bottom: 10px; */
    /* margin-bottom: 50px; */
    /* font-size: 20px; */
}

.rowOne {
    display: inline-flex;
}

.rowTwo {
    display: inline-flex;
}

.portal-icon-container {
    background-color: transparent;
    margin: 15px 15px 0px 15px;
    border: none;
    /* border-radius: 20px; */
}

.portal-icon-title {
    text-decoration: none;
    margin-top: 5px;
    /* padding-bottom: 10px; */
    /* margin-bottom: 50px; */
    /* font-size: 20px; */
}

.portal-icon {
    height: 200px;
    width: 200px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

/* .time-clock-icon {
    height: 200px;
    width: 200px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.dir-icon {
    height: 200px;
    width: 200px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.goals-icon {
    height: 200px;
    width: 200px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.settings-icon {
    height: 200px;
    width: 200px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
} */

.portal-page {
    background: linear-gradient(-65deg, rgba(113, 178, 148, 0.721), rgba(218, 223, 219, 0.827), #e6ebe7c4, rgb(238, 239, 238));
    border: 1px solid grey;
    border-radius: 20px;
    margin: 30px 200px 30px 200px;
}

/* .timeoffBtn {
    height: 20px;
    width: auto;
    border: none;
} */

/* for nav bar show/hide w transition */
/* .p {
    color: rgba(255,255,255,1);
    background: black;
    background: linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,.4));
    padding: 10px;
    line-height: 28px;
    text-align: justify;
    position: absolute;
    left: 0;
    margin: 0;
    width: 30px;
    transition: width .5s;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
  } */