.Bookmarks {
    display: flex;
}

.timeClock {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#date {
    font-weight: 700px;
    margin-bottom: 10px;
}

#time {
    font-size: 80px;
    margin: 0px 0px 20px 0px;
    border: 2px solid black;
    padding: 20px 30px 20px 30px;
    border-radius: 30px;
}

#time-zone {
    margin-top: -10px;
    margin-bottom: 10px;
}

.time-page-container {
    background: linear-gradient(-65deg, rgba(113, 178, 148, 0.721), rgba(218, 223, 219, 0.827), #e6ebe7c4, rgb(238, 239, 238));
    border: 1px solid grey;
    border-radius: 20px;
    margin: 30px 200px 30px 200px;
    height: 580px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.time-page-content {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}