.Home {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 300px 2px 3fr;
    text-align: center;
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
}
/* 
.flex-ctr-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* for nav bar show/hide w transition */
/* .p {
    color: rgba(255,255,255,1);
    background: black;
    background: linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,.4));
    padding: 10px;
    line-height: 28px;
    text-align: justify;
    position: absolute;
    left: 0;
    margin: 0;
    width: 30px;
    transition: width .5s;
    -webkit-transition: width .5s;
    -moz-transition: width .5s;
  } */