.home-icon {
    height: 60px;
    width: 60px;
    margin-top: 15px;
    /* background-color: white; */
}

.logout-icon-nb {
    height: 60px;
    width: 60px;
    margin-top: 15px;
}

.profile-icon {
    height: 60px;
    width: 60px;
    margin-top: 15px;
}

.nav-bar-icon {
    background-color: transparent;
    border: none;
  }