.home-icon {
    height: 70px;
    width: 70px;
    margin-top: 15px;
    /* background-color: white; */
}

/* .fave-icon-nb {
    height: 50px;
    width: 75px;
    margin-top: 5px;
    background-color: white;
} */

.logout-icon-nb {
    height: 70px;
    width: 70px;
    margin-top: 15px;
}

/* .bm-icon-nb {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    background-color: white;
} */

.profile-icon {
    height: 70px;
    width: 70px;
    margin-top: 15px;
    /* background-color: white; */
}

.nav-bar-icon {
    background-color: transparent;
    border: none;
  }