.delBtn {
  background-color: rgba(225, 234, 230, 0.576);
  color: white;
  height: 20px;
  width: 20px;
  margin-top: 5px;
  border: none;
}

#del-icon {
  height: 11px;
  width: 11px;
  background-color: (225, 234, 230, 0.576)
}