.Directory {
    display: flex;
}

.dirList {
    list-style: none;
}

.directory-page-container {
    background: linear-gradient(-65deg, rgba(113, 178, 148, 0.721), rgba(218, 223, 219, 0.827), #e6ebe7c4, rgb(238, 239, 238));
    border: 1px solid grey;
    border-radius: 20px;
    margin: 30px 200px 30px 200px;
    height: 580px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.directory-page-content {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}